/* Container.module.css */
.container {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* s - 375px малі телефони */
@media (min-width: 375px) {
  .container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* sm - 480px великі телефони */
@media (min-width: 480px) {
  .container {
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* md - 768px планшети в портреті */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

/* lg - 1024px планшети в ландшафті, малі ноутбуки */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* xl - 1440px стандартні десктопи */
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* xxl - 1930px великі монітори */
@media (min-width: 1930px) {
  .container {
    max-width: 1930px;
    padding-left: 48px;
    padding-right: 48px;
  }
}

/* Варианты контейнера */
.containerFluid {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

/* Контейнер без отступов */
.containerNoGutter {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

