@keyframes pulseRed {
  0% { 
    box-shadow: 0 0 15px rgba(255,60,60,0.6); 
    background-color: #ff3c3c; 
    
  }
  50% { 
    box-shadow: 0 0 25px rgba(255,0,0,1); 
    background-color: #cc0000; 
  }
  100% { 
    box-shadow: 0 0 15px rgba(255,60,60,0.6); 
    background-color: #ff3c3c; 
  }
}

.heroButton {
  padding: 8px 8px 8px 65px;
  border: none;
  font-size: 10px;
  font-family: var(--font-nunito), Arial, sans-serif;
  text-transform: uppercase;
  position: relative;
  color: #000000;
  background-color: #ffffff;
  transition: all 0.2s ease;
}

.heroButton:active {
  transform: scale(0.98);
  background-color: #f0f0f0;
}

@media (min-width: 480px) {
  .heroButton {
    font-size: 12px;
    padding: 8px 10px 8px 80px;
  }
}

@media (min-width: 768px) {
  .heroButton {
    font-size: 10px;
    padding: 8px 10px;
    color: #ffffff;
    animation: pulseRed 2s ease-in-out infinite;
  }

  .heroButton:active {
    animation-play-state: paused;
    background-color: #dc2626;
    transform: scale(0.98);
  }
}

@media (min-width: 1024px) {
  .heroButton {
    cursor: pointer;
    font-size: 15px;
    padding: 12px 20px;
  }

  .heroButton:active {
    transform: none;
    background-color: inherit;
  }

  .heroButton:hover {
    animation-play-state: paused;
    background-color: #dc2626;
    color: #ffffff;
  }
}

@media (min-width: 1440px) {
  .heroButton {
    font-size: 18px;
    padding: 23px 25px;
  }
}

@media (min-width: 1930px) {
  .heroButton {
    font-size: 27px;
    padding: 27px 32px;
  }
}

.contactButton {
  width: 255px;
  padding: 0.75rem;
  border: none;
  font-size: 14px;
  font-weight: 600;
  font-family: var(--font-nunito), Arial, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 0.2s ease;
}

.contactButton:active {
  background-color: #dc2626;
  transform: scale(0.98);
}

@media (min-width: 480px) {
  .contactButton {
    font-size: 16px;
    padding: 0.875rem;
  }
}

@media (min-width: 768px) {
  .contactButton {
    width: 270px;
    padding: 1rem;
    font-size: 16px;
    transition: background-color 0.2s ease;
  }
}

@media (min-width: 1024px) {
  .contactButton {
    width: 295px;
    font-size: 18px;
    padding: 1.125rem;
    cursor: pointer;
  }

  .contactButton:active {
    transform: none;
    background-color: #000000;
  }

  .contactButton:hover {
    background-color: #dc2626;
  }
}

@media (min-width: 1440px) {
  .contactButton {
    width: 480px;
    padding: 1.25rem;
    font-size: 20px;
  }
}

@media (min-width: 1930px) {
  .contactButton {
    padding: 1.5rem;
    font-size: 24px;
  }
}