.heroSection {
  position: relative;
  display: flex;
  min-height: 50vh;
}

@media (min-width: 768px) {
  .heroSection {
    min-height: 40vh;
  }
}

.backgroundImage {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.backgroundImage img {
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.content {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 300px;
  text-align: center;
  padding: 100px 0 30px 0;
}

@media (min-width: 480px) {
  .content {
    max-width: 380px;
  }
}

@media (min-width: 768px) {
  .content {
    padding: 120px 0 60px 0;
    max-width: 680px;
    text-align: initial;
  }
}

@media (min-width: 1024px) {
  .content {
    padding: 160px 0 80px 0;
    max-width: 830px;
  }
}

@media (min-width: 1440px) {
  .content {
    max-width: 1100px;
    padding: 300px 0 100px 0;
  }
}

@media (min-width: 1930px) {
  .content {
    max-width: 1200px;
    padding: 220px 0 110px 0;
  }
}

.title {
  font-family: var(--font-nunito), Arial, sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.8);
  text-wrap: balance;
}

@media (min-width: 480px) {
  .title {
    font-size: 36px;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 42px;
    margin-bottom: 24px;
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 48px;
  }
}

@media (min-width: 1440px) {
  .title {
    font-size: 56px;
  }
}

@media (min-width: 1930px) {
  .title {
    font-size: 64px;
  }
}

.subtitle {
  font-family: var(--font-nunito), Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
  color: rgba(255, 255, 255, 0.9);
}

@media (min-width: 768px) {
  .subtitle {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .subtitle {
    font-size: 22px;
  }
}

@media (min-width: 1440px) {
  .subtitle {
    font-size: 24px;
  }
}

@media (min-width: 1930px) {
  .subtitle {
    font-size: 28px;
  }
}

.description {
  font-family: var(--font-nunito), Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 16px;
}

@media (min-width: 480px) {
  .description {
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .description {
    font-size: 18px;
    margin-bottom: 36px;
  }
}

@media (min-width: 1024px) {
  .description {
    font-size: 17px;
  }
}

@media (min-width: 1440px) {
  .description {
    font-size: 18px;
    margin-bottom: 50px;
  }
}

@media (min-width: 1930px) {
  .description {
    font-size: 20px;
    margin-bottom: 60px;
  }
  
}

.buttons{
 display: flex;
 align-items: center;
 justify-content: center;
}

@media (min-width: 768px){
  .buttons{
  align-items: start;
  justify-content: start;
}
}


.consultButton{
  text-align: center;
  padding: 8px 24px;
}

@media (min-width: 480px){
  .consultButton{
  padding: 10px 30px;
 }
}

@media (min-width: 768px){
  .consultButton{
  padding: 12px 36px;
 }
}

@media (min-width: 1024px){
  .consultButton{
  padding: 14px 42px;
 }
}

.bold{
  font-weight: 500;
  color: red
}