.aboutSection {
  position: relative;
  padding-top: 13px;
}

@media (min-width: 768px){
  .aboutSection {
    margin: 0 auto;
    z-index: -20;
}
}

@media (min-width: 1440px){
  .aboutSection {
      z-index: -20;
}
}

.aboutSectionContent{
  width: 100%;
  /* border: 1px solid blue; */
}


.contentWrapper {
  max-width: 375px; 
  margin: 0 auto; 
  text-align: center; 
  /* border: 1px solid black; */
}

@media (min-width: 480px){
.contentWrapper{
  max-width: 400px;
}
}

@media (min-width: 768px){
.contentWrapper{
  max-width: 700px;
  width: 700px;
}
}


@media (min-width: 1024px){
.contentWrapper{
  max-width: 1024px;
  width: 800px;
}
}

@media (min-width: 1440px){
.contentWrapper{
  max-width: 1400px;
  width: 1000px;
}
}

.title {
  font-size: 18px;
  line-height: 1.5;
  text-align: center; 
  font-weight: 300;
  padding: 8px 0 12px;
  color: #dc2626;
}

@media (min-width: 480px){
  .title {
  font-size: 22px;
}
}


@media (min-width: 768px){
  .title {
  font-size: 25px;
}
}

@media (min-width: 1024px){
  .title {
  font-size: 30px;
}
}

@media (min-width: 1440px){
  .title {
  font-size: 57px;
}
}

.paragraphSelection{
  color: #FF0000;
}

.paragraph {
  margin: 0 auto;
  font-family: var(--font-nunito), Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.3;
  color: #171717; 
  padding-bottom: 6px;
  /* border: 1px solid red; */
}

.paragraph:not(:first-child) {
  padding-bottom: 0;
}

@media (min-width: 480px){
.paragraph:nth-child(3) {
  max-width: 360px; 
}
}


@media (min-width: 768px){
  .paragraph {
    /* max-width: 700px; */
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 8px;
}

.paragraph:first-child {
  margin: 0 auto;
}

.paragraph:nth-child(3) {
  max-width: 400px; 
}
}

@media (min-width: 1024px){
  .paragraph {
    /* max-width: 800px; */
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 12px;
}

.paragraph:nth-child(3) {
  max-width: 400px; 
}
}

@media (min-width: 1440px){
  .paragraph {
    /* max-width: 1440px; */
    font-size: 20px;
    line-height: 150%;
    padding-bottom: 16px;
}

.paragraph:nth-child(3) {
  max-width: 550px; 
}
}

@media (min-width: 1930px){
  .paragraph {
    /* max-width: 1440px; */
    font-size: 24px;
    line-height: 150%;
}

.paragraph:nth-child(3) {
  max-width: 650px; 
}
}