.aboutSection {
  position: relative;
  padding-top: 40px;
}

@media (min-width: 768px){
  .aboutSection {
    padding-top: 60px;
    margin: 0 auto;
  }
}

@media (min-width: 1440px){
  .aboutSection {
      padding-top: 80px;
  }
}

.aboutSectionContent{
  width: 100%;
}

.contentWrapper {
  max-width: 375px; 
  margin: 0 auto; 
  text-align: center; 
}

@media (min-width: 480px){
  .contentWrapper{
    max-width: 400px;
  }
}

@media (min-width: 768px){
  .contentWrapper{
    max-width: 700px;
    width: 700px;
  }
}

@media (min-width: 1024px){
  .contentWrapper{
    max-width: 1024px;
    width: 800px;
  }
}

@media (min-width: 1440px){
  .contentWrapper{
    max-width: 1400px;
    width: 1000px;
  }
}

.title {
  padding: 0 12px;
  margin-bottom: 16px;
  font-size: 28px;
  line-height: 1.5;
  font-weight: 300;
  text-align: center; 
  color: #ff0000;
}

@media (min-width: 768px){
  .title {
    font-size: 32px;
  }
}

@media (min-width: 1024px){
  .title {
    font-size: 36px;
  }
}

@media (min-width: 1440px){
  .title {
    font-size: 42px;
  }
}

.subtitle {
  font-family: var(--font-nunito), Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #171717;
  margin-bottom: 12px;
}

@media (min-width: 768px) {
  .subtitle {
    font-size: 18px;
  }
}

.paragraph {
  font-family: var(--font-nunito), Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #171717;
  line-height: 1.6;
}

@media (min-width: 480px) {
  .description {
    font-size: 17px;
  }
}

@media (min-width: 768px) {
  .description {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .description {
    font-size: 19px;
  }
}

@media (min-width: 1440px) {
  .description {
    font-size: 20px;
  }
}

@media (min-width: 1930px) {
  .description {
    font-size: 22px;
  }
}

.red{
  color: #ff0000;
  font-weight: 400;
}