.serviceCard {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.imageContainer{
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

@media (min-width: 480px) {
  .imageContainer {
    height: 300px ;
  }
}

@media (min-width: 768px) {
  .imageContainer {
    height: 280px ;
  }
}

@media (min-width: 1024px) {
  .imageContainer {
    height: 220px;
  }
}

@media (min-width: 1440px) {
  .imageContainer {
    height: 250px;
  }
}

@media (min-width: 1930px) {
  .imageContainer {
    height: 360px;
  }
}

.serviceImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardContent{
  padding: 8px 0;
}

@media (min-width: 768px) {
  .cardContent{
  height: 80px;
  }
}

@media (min-width: 768px) {
  .cardContent{
  height: 80px;
  }
}


.imageTitle{
  font-family: var(--font-nunito), Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #FF0000; 
  line-height: 1.5;
}

@media (min-width: 768px) {
  .imageTitle {
    font-size: 18px;
  }
  
  .serviceCard:nth-child(even) .imageTitle {
    text-align: left;
  }
  
  .serviceCard:nth-child(odd) .imageTitle {
    text-align: right;
  }
}

@media (min-width: 1024px) {
  .imageTitle {
    font-size: 17px;
  }

  .serviceCard:nth-child(even) .imageTitle {
    text-align: center
  }
  
  .serviceCard:nth-child(odd) .imageTitle {
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .imageTitle {
    font-size: 19px;
  }
}
@media (min-width: 1440px) {
  .imageTitle {
    font-size: 23px;
  }
}



.cardDescription{
  font-family: var(--font-nunito), Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  color: #000000; 
  text-align: center;
}

@media (min-width: 480px) {
  .cardDescription {
    font-size: 16px;
  }
}


@media (min-width: 768px) {
  .cardDescription {
    font-size: 14px;
  }

  .serviceCard:nth-child(even) .cardDescription {
    text-align: left;
  }
  
  .serviceCard:nth-child(odd) .cardDescription {
    text-align: right;
  }
}

@media (min-width: 1024px) {
  .cardDescription {
    font-size: 12px;
    text-align: center;
  }

  .serviceCard:nth-child(even) .cardDescription {
    text-align: center;
  }
  
  .serviceCard:nth-child(odd) .cardDescription {
    text-align: center;
  }
}

@media (min-width: 1440px) {
  .cardDescription {
    font-size: 15px;
  }
}
@media (min-width: 1930px) {
  .cardDescription {
    font-size: 19px;
  }
}