.heroSection {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 320px;
  background-color: #000000;
  /* z-index: -10; */
  z-index: 1;
  /* border: 1px solid yellow; */
}

@media (min-width: 480px){
  .heroSection{
    height: 420px;
  }
}

@media (min-width: 768px){
  .heroSection {
    background-color: transparent; 
    box-shadow: 0px 50px 50px -50px rgba(0, 0, 0, 0.25);
    height: 468px;
  }

  .heroSection::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #000000;
  z-index: -1;
}

.heroSection::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #ffffff;
  z-index: -1;
}
}

@media (min-width: 1024px){
  .heroSection {
    background-color: transparent; 
    height: 620px;
  }

}

@media (min-width: 1440px){
  .heroSection {
    background-color: transparent; 
    height: 875px;
  }
}

@media (min-width: 1930px){
  .heroSection {
    background-color: transparent; 
    height: 1164px;
  }
}

.leftHero {
  background-image: url('/images/HeroDesktopLeft.png');
  background-repeat: no-repeat;
  background-size: 104%;
  background-position: 0 10px;
  height: 311px;
  width: calc(100% + 2.5rem);
  margin-left: -1.25rem; 
  margin-right: -1.25rem;
  max-width: 375px;
  background-color: #000000;
}

@media (min-width: 480px){
  .leftHero{
    height: 416px;
    max-width: 480px;
  }
}

@media (min-width: 768px){
  .leftHero{
    margin-left: 0;
    margin-right: 0;
    width: 50%;
    background-position: 0 70px;
    border-right: 2px solid #FF0000;
    height:468px;
  }
}

@media (min-width: 1024px){
  .leftHero{
    height: 620px;
    max-width: 512px;
  }
}

@media (min-width: 1440px){
  .leftHero{
    background-position: 0 150px;
    height: 875px;
    max-width: 720px;
  }
}

@media (min-width: 1930px){
  .leftHero{
    background-position: 0 150px;
    height: 1164px;
    max-width: 964px;
  }
}


.leftHeroContent{
  /* border: 1px solid wheat; */
  padding-top: 202px;
  padding-bottom: 17px;
}

@media (min-width: 480px){
 .leftHeroContent{
  padding-top: 275px;
  padding-bottom: 28px;
 }
}

@media (min-width: 768px){
 .leftHeroContent{
  padding-top: 322px;
  padding-bottom: 42px;
 }
}

@media (min-width: 1024px){
 .leftHeroContent{
  padding-top: 400px;
  padding-bottom: 69px;
 }
}

@media (min-width: 1440px){
 .leftHeroContent{
  padding-top: 618px;
  padding-bottom: 34px;
  margin-left: 0;
 }
}

@media (min-width: 1930px){
 .leftHeroContent{
  padding-top: 782px;
  padding-bottom: 101px;
  margin-left: -12px;
 }
}

.heroTitle{
  color: #FF0000;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 13px;
}

@media (min-width: 768px){
.heroTitle{
  margin-left: 0;
  margin-bottom: 20px;
  line-height: 1.1;
}
}



@media (min-width: 1024px){
.heroTitle{
  margin-bottom: 35px;
  line-height: 1.5;
}
}


@media (min-width: 1440px){
.heroTitle{
  margin-left: 0;
  margin-bottom: 35px;
  line-height: 1.5;
}
}

.titleLarge{
  font-size: 20px;
}

@media (min-width: 480px){
.titleLarge{
  font-size: 25px;
}
}

@media (min-width: 1024px){
.titleLarge{
  font-size: 32px;
  line-height: 1;
}
}

@media (min-width: 1440px){
.titleLarge{
  font-size: 60px;
  line-height: 0.75;
}
}

@media (min-width: 1930px){
.titleLarge{
  font-size: 70px;
  line-height: 1;
}
}


.titleSmall{
  font-size: 15px;
}

@media (min-width: 480px){
.titleSmall{
  font-size: 19px;
}
}

@media (min-width: 1024px){
.titleSmall {
  font-size: 24px;
}
}

@media (min-width: 1440px){
.titleSmall {
  font-size: 45px;
}
}

@media (min-width: 1930px){
.titleSmall {
  font-size: 53px;
}
}

/* .ctaButton{
  font-size: 10px;
  padding: 8px 8px 8px 65px;
  background-color: #ffffff;
}

@media (min-width: 480px){
.ctaButton{
  font-size: 12px;
  padding: 8px 10px 8px 80px;
}
}

@media (min-width: 760px){
.ctaButton{
  font-size: 10px;
  padding: 8px 10px ;
}
}

@media (min-width: 1024px){
.ctaButton{
  font-size: 15px;
  padding: 12px 20px;
}
}

@media (min-width: 1440px){
.ctaButton{
  font-size: 18px;
  padding: 23px 25px;
}
}

@media (min-width: 1930px){
.ctaButton{
  font-size: 27px;
  padding: 27px 32px;
}
} */


.rightHero{
  display: none;
}

@media (min-width: 768px){
  .rightHero{
  display: block;
  width: calc(50% + 24px);
  position: relative;
  background-image: url('/images/HeroDesktopRight.png');
  background-repeat: no-repeat;
  /* background-size: 120%;
  background-position: 0 3px; */


    background-size: cover; /* Вместо 120% */
  background-position: center; /* Вместо 0 3px */
  border-left: 2px solid #FF0000; 
  height:468px;
  margin-right: -24px;



}
}

@media (min-width: 1024px){
  .rightHero{
  height:620px;
  width: calc(50% + 32px);
  margin-right: -32px;
}
}

@media (min-width: 1440px){
  .rightHero{
  height:875px;
  width: calc(50% + 40px);
  margin-right: -40px;
}
}

@media (min-width: 1930px){
  .rightHero{
  height:1164px;
  width: calc(50% + 45px);
  margin-right: -45px;
  background-position: 0 4px;
}
}