.heroSection {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 320px;
  background-color: #000000;
}

@media (min-width: 480px){
  .heroSection{
    height: 420px;
  }
}

@media (min-width: 768px){
  .heroSection {
    height: 468px;
    background-color: transparent; 
    box-shadow: 0px 50px 50px -50px rgba(0, 0, 0, 0.25);
  }

  .heroSection::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #000000;
    z-index: -1;
  }

  .heroSection::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    z-index: -1;
  }
}

@media (min-width: 1024px){
  .heroSection {
    background-color: transparent; 
    height: 620px;
  }
}

@media (min-width: 1440px){
  .heroSection {
    background-color: transparent; 
    height: 100vh;
    min-height: 875px;
  }
}

@media (min-width: 1930px){
  .heroSection {
    background-color: transparent; 
    height: 1164px;
  }
}

.leftHero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url('/images/HeroDesktopLeft.png');
  background-repeat: no-repeat;
  background-size: 104%;
  background-position: 0 10px;
  width: calc(100% + 2.5rem);
  margin-left: -1.25rem; 
  margin-right: -1.25rem;
  max-width: 375px;
  background-color: #000000;
}

@media (min-width: 480px){
  .leftHero{
    max-width: 480px;
  }
}

@media (min-width: 768px){
  .leftHero{
    width: 50%;
    margin-left: 0;
    margin-right: 0;
    background-size: 100% 305px;
    background-position: 0 70px;
  }
}

@media (min-width: 1024px){
  .leftHero{
    max-width: 512px;
    background-size: 100% 430px;
  }
}

@media (min-width: 1440px){
  .leftHero{
    max-width: 720px;
    background-position: 0 150px;
    background-size: 100% 630px;
  }
}

@media (min-width: 1930px){
  .leftHero{
    height: 1164px;
    max-width: 964px;
    background-position: 0 150px;
    background-size: 100% 790px;
  }
}

.leftHeroContent{
  padding-bottom: 17px;
  border: 1px solid red;
}

@media (min-width: 480px){
 .leftHeroContent{
  padding-bottom: 28px;
 }
}

@media (min-width: 768px){
 .leftHeroContent{
  padding-bottom: 48px;
 }
}

@media (min-width: 1024px){
 .leftHeroContent{
  padding-bottom: 44px;
 }
}

@media (min-width: 1440px){
 .leftHeroContent{ 
  margin-left: 0;
  padding-bottom: 60px;
 }
}

@media (min-width: 1930px){
 .leftHeroContent{
  padding-bottom: 92px;
 }
}

.heroTitle{
  margin-left: 20px;
  margin-bottom: 13px;
  color: #FF0000;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px){
  .heroTitle{
    margin-left: 0;
    margin-bottom: 20px;
    line-height: 1.1;
  }
}

@media (min-width: 1024px){
  .heroTitle{
    margin-bottom: 35px;
    line-height: 1.5;
  }
}

@media (min-width: 1440px){
  .heroTitle{
    margin-left: 0;
    margin-bottom: 35px;
    line-height: 1.5;
  }
}

.titleLarge{
  font-size: 32px;
}

@media (min-width: 480px){
  .titleLarge{
    font-size: 36px;
  }
}


@media (min-width: 768px){
  .titleLarge{
    font-size: 28px;
  }
}

@media (min-width: 1024px){
  .titleLarge{
    font-size: 38px;
    line-height: 1;
  }
}

@media (min-width: 1440px){
  .titleLarge{
    font-size: 60px;
    line-height: 0.75;
  }
}

@media (min-width: 1930px){
  .titleLarge{
    font-size: 70px;
    line-height: 1;
  }
}

.titleSmall{
  font-size: 20px;
}

@media (min-width: 480px){
  .titleSmall{
    font-size: 23px;
  }
}

@media (min-width: 768px){
  .titleSmall{
    font-size: 20px;
  }
}

@media (min-width: 1024px){
  .titleSmall {
    font-size: 26px;
  }
}

@media (min-width: 1440px){
  .titleSmall {
    font-size: 45px;
  }
}

@media (min-width: 1930px){
  .titleSmall {
    font-size: 53px;
  }
}

.rightHero{
  display: none;
}

@media (min-width: 768px){
  .rightHero{
    display: block;
    width: calc(50% + 24px);
    position: relative;
    background-image: url('/images/HeroDesktopRight.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:468px;
    margin-right: -24px;
    border-left: 4px solid #FF0000; 
  }
}

@media (min-width: 1024px){
  .rightHero{
    height:620px;
    width: calc(50% + 32px);
    margin-right: -32px;
  }
}

@media (min-width: 1440px){
  .rightHero{
    height: 100%;
    width: calc(50% + 40px);
    margin-right: -40px;
    background-size: cover;
    background-position: center;
  }
}

@media (min-width: 1930px){
  .rightHero{
    height:1164px;
    width: calc(50% + 45px);
    margin-right: -45px;
    background-position: 0 4px;
  }
}