@import "tailwindcss";

:root {
  --background: #F5F5F5;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito), Arial, sans-serif;  
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: var(--font-nunito), Arial, sans-serif;
}

