.mobileHeader{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: transparent;
}

@media (min-width: 768px){
  .mobileHeader{
    display: none;
  }
}

.mobileContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Header.module.css */
.logoLink {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.logoHidden {
  opacity: 0;
  pointer-events: none; /* отключаем клики по невидимому элементу */
}

.flagButtonContainer{
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.desktopHeader{
  display: none;
}

@media (min-width: 768px){
  .desktopHeader{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    padding: 0 24px;
    /* border: 1px solid violet */
}
}

@media (min-width: 768px){
  .desktopHeader{
    padding: 0 40px;
  }
}

@media (min-width: 1440px){
  .desktopHeader{
    padding: 0 40px;
  }
}


.leftHeader{
  display: flex;
  justify-content: flex-end;
  width: 50%;
  background-color: transparent;
}

.leftContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 960px;
  /* border-right: 2px solid #ff0000; */
}

@media (min-width: 1440px){
  .leftContent{
    padding: 35px 0;
  }
}

.logoDesktop{
  display: none;
}

@media (min-width: 1440px){
  .logoMobileInDesktop{
    display: none;
  }
  .logoDesktop{
  display: block;
}
}

.leftNavigation, .rightNavigation {
  display: flex;
  justify-content: space-between;
}

.navList {
  display: flex;
}

.navLink {
  display: inline-flex;
  font-family: var(--font-strong), Arial, sans-serif;
  text-decoration: none;
  font-size: 15px;
  position: relative;
  padding: 20px 14px;
  align-items: center;
  color: white;
  transition: color 0.2s;
}

@media (min-width: 768px){
  .navLink{
    font-size: 12px;
    padding: 25px 20px;
  }
}

@media (min-width: 1024px){
  .navLink{
    padding: 25px 20px;
  }
}

@media (min-width: 1440px){
  .navLink{
    padding: 25px 20px;
    font-size: 17px;
  }
}

@media (min-width: 1920px){
  .navLink{
    padding: 25px 30px;
    font-size: 20px;
  }
}

.navLink:hover {
  color: #ff0000; 
}

.navLinkLight {
  color: #171717; 
}

.navLinkLight:hover {
  color: #ff0000;
}

.navLink:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 25px;
  width: 1px;
  background-color: white;
}

.navLinkLight:not(:last-child)::after {
  background-color: #171717;
} 

/* Правый хедер */

.rightHeader {
  display: flex;
  justify-content: space-between;
  width: 50%;
  background-color:transparent;
}

.rightContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 960px; 
  /* border-left: 2px solid #ff0000 */
}


/* Флаг и телефон */
.flagDesktopContainer {
  display: flex;
  align-items: center;
}

.flagDesktopSmall {
  display: block;
  position: absolute;
  top: 0;
  right: 20px;
}

.flagDesktopSmall img {
  transform: scaleY(1.5);
  transform-origin: left;
}

@media (min-width: 1440px) {
.flagDesktopSmall{
display: none;
}
}

.flagDesktop {
  display: none;
}

@media (min-width: 1440px) {
.flagDesktop {
  display: block;
  height: 65px;
  width: 33px;
 
}
}

.phoneLink {
  display: none;
}

@media (min-width: 1440px) {
.phoneLink {
  font-family: var(--font-nunito) ;
  font-size: 20px;
  padding: 16px 58px;
  display: block;
  outline: 1px solid #ff0000;
  background-color: #ff0000;
  color: #F5F5F5;
  
}
}


.flagPhoneContainer{
  display: flex;
  align-items: center;
}