.footer {
  padding: 20px 0;
  color: #ffffff;
  background-color: #000000;
}

@media (min-width: 768px) {
  .footer {
    padding: 32px 0;
  }
}

@media (min-width: 1440px) {
  .footer {
    padding: 40px 0;
  }
}

.footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

@media (min-width: 768px) {
  .footerContent {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }

  .leftSection {
    order: 2;
  }

  .rightSection {
    order: 3;
  }

  .copyright {
    order: 1;
  }
}

@media (min-width: 1024px) {
  .footerContent {
    gap: 60px;
  }
}

@media (min-width: 1440px) {
  .footerContent {
    gap: 100px;
  }
}

@media (min-width: 1930px) {
  .footerContent {
    gap: 140px;
  }
}

.leftSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

@media (min-width: 768px) {
  .leftSection {
    align-items: flex-start;
    gap: 16px;
  }
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

@media (min-width: 768px) {
  .logoContainer {
    flex-direction: row;
    gap: 12px;
  }
}

@media (min-width: 1440px) {
  .logoContainer {
    gap: 16px;
  }
}

.logoMobile {
  display: block;
}

.logoDesktop {
  display: none;
}

@media (min-width: 768px) {
  .logoMobile {
    display: none;
  }
  
  .logoDesktop {
    display: block;
  }
}

@media (min-width: 768px) {
  .tagline {
    font-size: 11px;
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .tagline {
    font-size: 12px;
  }
}

.adressText  {
  font-family: var(--font-nunito), Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 1440px) {
  .adressText {
    font-size: 18px;
  }
}

@media (min-width: 1930px) {
  .adressText {
    font-size: 20px;
  }
}

.copyright{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

@media (min-width: 768px) {
  .copyright {
    flex-direction: column;
    align-items: end;
    text-align: left;
    gap: 0;
  }
}

.rightSection  {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-style: normal;
}

@media (min-width: 768px) {
  .rightSection {
    align-items: flex-end;
    text-align: right;
  }
}

@media (min-width: 1440px) {
  .rightSection {
    gap: 0;
  }
}

.rightSection p {
  margin: 0;
}