.servicesSection{
  padding-top: 20px;
}

@media (min-width: 1440px) {
  .servicesSection{
    padding-top: 40px;
  }
}

.servicesWrapper{
  width: 100%;
}

.servicesTitle {
  padding: 14px 0;
  font-family: var(--font-nunito), Arial, sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #050505; 
  line-height: 1.5;
}

@media (min-width: 768px) {
  .servicesTitle {
    font-size: 32px;
  }
}

@media (min-width: 1024px) {
  .servicesTitle {
    font-size: 36px;
    padding: 17px 0;
  }
}

@media (min-width: 1440px) {
  .servicesTitle {
    font-size: 60px;
  }
}

@media (min-width: 1930px) {
  .servicesTitle {
    font-size: 60px;
    padding: 28px 0;
  }
}

.servicesCardWrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 -20px 0 -20px;
  gap: 10px;
}

@media (min-width: 768px){
  .servicesCardWrapper{
    margin: 0 -24px 0 -24px;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .servicesCardWrapper {
    margin: 0 -32px 0 -32px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 30px;
    max-width: 1024px;
  }
}

@media (min-width: 1440px) {
  .servicesCardWrapper {
    padding-left: 40px;
    padding-right: 40px;
    gap: 35px;
    max-width: 1440px;
  }
}

@media (min-width: 1930px) {
  .servicesCardWrapper {
    padding-left: 48px;
    padding-right: 48px;
    gap: 40px;
    max-width: 1930px;
  }
}